.main {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  
}

.testing {
  background-color: lightgray;
}

.editorContainer {
  max-width: 900px;
  width: 95%;
}

.flex {
  display: flex;
}

.textEditor {
  width: 100%;
  min-height: 50vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 10px;
  line-height: 2;
  /* text-align: center; */
}

.toolbar{
  width: 100%;
  /* min-height: 50vh; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.active_toolbar_button {
  cursor: pointer;
  background-color: lightblue;
  color: black;
  padding: 6px;
  margin: 4px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: lightskyblue;
  /* border: none; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
 
}

.default_toolbar_button {
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 6px;
  margin: 4px;
  border-radius: 5px;
  border-width: 1px;
  /* border */
  border-style: solid;
  border-color: lightgray;
  /* border: none; */

  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19); */
}

.dropdown {
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 6px;
  margin: 4px;
  border-radius: 5px;
  border-width: 1px;
  /* border */
  border-style: solid;
  border-color: lightgray;
  /* border: none; */

  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19); */
}

.dropdown:hover .dropdown_content {
  display: flex;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px;
  z-index: 1;
}

.leafcolorRed {
  color: red;
}

.leafcolorGreen {
  color: green;
}

.leafcolorBlue {
  color: blue;
}

.black_button {
  cursor: pointer;
  margin: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: black;
}

.red_button {
  cursor: pointer;
  margin: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: red;
}

.green_button {
  cursor: pointer;
  margin: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: green;
}

.blue_button {
  cursor: pointer;
  margin: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: blue;
}

.special_element {
  background-color: purple;
  color: white;
  line-height: 2;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size:xx-large
}